<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54010591596-llesd2j6r8g5io7m89dpr710ga67jni2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54010591596-llesd2j6r8g5io7m89dpr710ga67jni2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54010591596-7luog6q6b17jpai9tp16lgfdcvn1p2dr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-kqYpCcHwy2HsSMoImJOoY56P9XrBtYM</string>
	<key>GCM_SENDER_ID</key>
	<string>54010591596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.producerFamilyApp</string>
	<key>PROJECT_ID</key>
	<string>producer-family</string>
	<key>STORAGE_BUCKET</key>
	<string>producer-family.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54010591596:ios:b7e4ecd93c9155fe86db49</string>
</dict>
</plist>